.skList{
    display: flex;
    gap: 30px;
}

.skillType{
    color: rgb(253, 243, 224);
}
.light .skillType{
    color: rgb(0, 46, 63);
}

/* complete skill block design */
.skBlock{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 2px solid orange;
    border-radius: 30px;
    padding: 20px;
    height: fit-content;
    margin: 20px 0px 20px 20px;
    box-shadow: 0px 0px 10px 1px orange;
    transition: 0.8s;
    backdrop-filter: blur(3px);
}

/* complete skill block design in light mode*/
.light .skBlock{
    border: 2px solid skyblue;
    box-shadow: 0px 0px 10px 1px skyblue;
}

/* complete skill block design on hover */
.skBlock:hover{
    transition: 0.7s;
    border: 2px solid white;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(255, 166, 0, 0.899));
    transform: translateY(-5px);
    backdrop-filter: blur(6px);
}

/* complete skill block design on light mode hover */
.light .skBlock:hover{
    border: 2px solid rgba(0, 0, 0, 0.276);
    filter: drop-shadow(0px 0px 10px skyblue);
}

/* making a border for making percentage visibile. */
.skBlockAbout{
    width: 400px;
    border: 2px solid orange;
    border-radius: 50px;
    height: 40px;
    padding: 6px;
    margin: 0px 20px 10px 20px;
    box-shadow: 0px 0px 10px 1px orange;
    transition: 0.8s;
}

.light .skBlockAbout{
    border: 2px solid skyblue;
    box-shadow: 0px 0px 10px 1px skyblue;
}

/* making percentage bar layer functional through css */
.layer{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,1),orange);
    border-radius: 50px;
    position: relative;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    /* do transition of width */
    transition: 0.7s;
}

/* filling layer bar upto desired percentage for Technical Skills */
.one{
    width: 0%;
}

.html:hover .one{
    width: 70%;
}

.two{
    width: 0%;
}
.css:hover .two{
    width: 60%;
}

.three{
    width: 0%;
}
.js:hover .three{
    width: 40%;
}

.four{
    width: 0%;
}
.cpp:hover .four{
    width: 75%;
}

/* filling layer bar upto desired percentage for Professional Skills */
.a{
    width: 0%;
}
.ps:hover .a{
    width: 70%;
}

.b{
    width: 0%;
}
.lsp:hover .b{
    width: 70%;
}

.c{
    width: 0%;
}  
.empt:hover .c{
    width: 60%;
}  

.d{
    width: 0%;
}
.tp:hover .d{
    width: 85%;
}

/* changig color of bar in light mode */
.light .layer{
    background: linear-gradient(rgba(0,0,0,1),skyblue);
}
    
/* designing skill content. */
.skContent{
    margin: 10px 30px 0px 20px;
}

.skContent h3{
    float: left;
}

.skContent p{
    float: right;
    color: wheat;
}

.light .skContent > p{
    color: rgb(10, 90, 121);
}

.skContent > h3{
    color: rgb(255, 242, 217);
    margin-bottom: 8px;
}

.light .skContent > h3{
    color: rgb(0, 46, 63);
}

/* making responsive */
@media (min-width:850px) and (max-width: 1100px){   
    .skBlock{
        margin: 15px 0px 15px 15px;
        padding: 15px;
    }
    .skBlockAbout{
        width: 300px;
    }
}

@media (min-width:550px) and (max-width:850px) {
    .skList{
        display: inline-block;
    }
    .skBlockAbout{
        width: 250px;
    }
}

@media (max-width:549px){
    .skList{
        display: inline-block;
    }
    .skList h2{
        font-size: 1.2em;
    }
    .skBlock h3{
        font-size: 1em;
    }
    .skBlockAbout{
        width: 200px;
    }
}