.homeContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 15px;
    height: 80vh;
}

.homeContainer h1{
    font-size: 40px;
    margin-bottom: 10px;
    color: wheat;
}

.light .homeAbout > h1{
    color: rgb(0, 0, 63);
}

#name{
  background-image: linear-gradient(
    -225deg,
    rgb(174, 189, 219) 0%,
    orange 29%,
    #f96999 67%,
    #fff800 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: name 3s alternate infinite;
}

.light #name{
    background-image: linear-gradient(
        -225deg,
        rgb(174, 189, 219) 0%,
        skyblue 29%,
        #7c69f9 67%,
        #fff800 100%
    );
}

@keyframes name {
    to {
      background-position: 200% center;
    }
}

.homeContainer h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 166, 0, 0.905);
    width: fit-content;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 1px rgba(255, 166, 0, 0.905);
    margin-bottom: 25px;
}

.light .homeContainer h2{
    color: skyblue;
    box-shadow: 3px 3px 4px 1px skyblue;
}

.homeContainer p{
    font-size: 0.9em;
    font-family: cursive;
    max-width: 470px;
    margin-bottom: 40px;
    color: rgb(255, 235, 199);
}

.homeAbout{
    margin-top: 0px;
    margin-right: 0px;
    padding: 20px 80px 50px 50px;
    transition: 0.8s;
}

.light .homeAbout > p{
    color: rgb(0, 0, 100);
}

.about{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.about img{
    width: 320px;
    border-radius: 50%;
    margin-left: 20px;
    box-shadow: 0px 0px 15px 5px orange;
    filter: drop-shadow(0px 0px 15px orange);
    position: relative;
    
}

.light .about img{
    box-shadow: 0px 0px 15px 5px skyblue;
    filter: drop-shadow(0px 0px 15px skyblue);
}

.aboutBtn{
    display: flex;
}

.aboutBtn a{
    margin-right: 50px;
}

.light .aboutBtn a{
    color: white;
}

.aboutHomeBtn{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    transition: 0.6s;
    height: 9vh;
    width: 150px;
    font-size: 22px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid orange;
    filter: drop-shadow(0px 0px 15px orange);
    padding: 10px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.light .aboutHomeBtn{
    border: 1px solid skyblue;
    filter: drop-shadow(0px 0px 15px skyblue);
}

a#explore {
    background-color: orange;
    color: black;
    box-shadow: 0px 0px 8px orange;
    border: 1px solid white;
    filter: drop-shadow(0px 0px 10px white);
    transition: 0.6s;
    font-size: 22px;
}

.light a#explore {
    border: 1px solid black;
    box-shadow: 0px 0px 8px skyblue;
    background-color: skyblue;
    filter: drop-shadow(0px 0px 8px skyblue);
}

a#explore:hover{
    transition: 0.6s;
    color: white;
    background-color: black;
    border: 1px solid orange;
    box-shadow: 0px 0px 10px 2px orange;
    filter: drop-shadow(0px 0px 10px orange);
    transform: scale(1.2);
}

.light a#explore:hover{
    border: 1px solid white;
    filter: drop-shadow(0px 0px 10px skyblue);
    box-shadow: 0px 0px 10px 2px skyblue;
}

a#connect:hover{
    transition: 0.6s;
    color: black;
    background-color: orange;
    box-shadow: 0px 0px 10px 2px white;
    transform: scale(1.2);
}

.light a#connect:hover{
    background-color: skyblue;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 2px skyblue;
}

@media ((max-width:900px)){
    .about{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .about img{
        width: 160px;
    }

    .homeAbout{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding: 0px;
    }

    .homeAbout h1{
        font-size: 1.5rem;
    }

    .homeAbout h2{
        
        font-size: 0.7rem;
        margin-bottom: 10px;
    }

    .homeAbout p{
        margin-top: 5px;
        font-size: 0.6rem;
        margin-bottom: 20px;
    }

    .aboutBtn{
        justify-content: center;
        margin-left: 25px;
        gap: 40px;
    }

    .aboutBtn a, a#explore {
        font-size: 16px;
        padding: 15px;
        height: 50px;
        width: 130px;
    }
}

@media ((min-width:1000px) and  (max-width:1200px)){
    .about{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .about img{
        width: 260px;
        margin-left: 10px;    
    }

    .homeAbout{
        margin-top: 0px;
        margin-right: 0px;
        padding: 20px;
    }

    .homeAbout h1{
        font-size: 1.8rem;
    }

    .homeAbout h2{
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .homeAbout p{
        margin-top: 5px;
        font-size: 0.8rem;
    }
}

@media (max-width:980px){
    .about{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .about img{
        width: 250px;
    }

    .homeAbout{
        margin-top: 20px;
        padding: 0px;
    }

    .homeAbout h1{
        font-size: 1.7rem;
    }

    .homeAbout h2{
        font-size: 0.9rem;
        margin-bottom: 15px;
    }

    .homeAbout p{
        margin-top: 5px;
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

    .aboutBtn a, a#explore {
        padding: 10px;
    }
}

@media (max-width:480px){
    .about{
        display: flex;
        align-items: center;
    }
    .about img{
        width: 200px;
        margin: 0px;
    }
    .homeAbout{
        margin: 0px;
        align-items: center;
    }
    .homeAbout h1{
        font-size: 1.2rem;
    }
    .aboutBtn{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background: none;

    }
    .aboutHomeBtn{
    }

}