/* .navBar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    top: 0px;
    left: 20px;
    z-index: 999;
} */

/* Here - Default HTML size - 16px = 1rem*/
/* 6.25rem = 100px */
/* 3.125rem = 50px */

.navBar{
  width: 100%;
  height: 6.25rem;
  display: grid;
  grid-template-columns: 2rem 1fr 3fr 1fr 2rem;
  margin-bottom: 20px;
  box-shadow: 0px 3px 8px 2px orange;
  background-color: #0000008c;
  
}
.light .navBar{
  background: #cbcbcb84;
  box-shadow: 0px 2px 5px 2px skyblue;
}
  
/* Setting Logo Part */
.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
}
.logo>img{
  height: 45px;
  background-color: #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgba(255, 166, 0, 0.931);
  will-change: filter;
  transition: filter,transform 300ms;
}
.logo>img:hover {
  filter: drop-shadow(0 0 12px orange);
  transform: scale(1.2);
}
.light .logo>img{
  background: rgba(255, 255, 255, 0.76);
  box-shadow: 0px 0px 10px 1px black;
}
.light .logo>img:hover{
  box-shadow: 0px 0px 10px 1px skyblue;
  filter: drop-shadow(0px 0px 5px skyblue);
}

/* Setting Up Menu Part of navbar */

.menuLinks{
  display: grid;
  grid-column: 3/4;
}
.menuLinks ul{
  height: 6.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menuLinks ul > li{
  list-style: none;
  font-size: large;
  padding: 8px;
  border-radius: 10px;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0.1s;
}
.menuLinks a{
  text-transform: capitalize;
}
.menuLinks li:hover{
    transform: translateY(-6px);
    box-shadow: 3px 3px 4px  orange;
}
.light .menuLinks li:hover{
    box-shadow: 3px 3px 4px  skyblue;
} */


/* Handling Buttons of Navbar */
.navButtons{
  grid: 4/5;
}
.navButtons ul{
  height: 6.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
}
.navButtons ul>li:first-child{
  grid-column: 2/3;
}
.navButtons ul>li{
  list-style: none;
}
.light #navBtn{
  color: black;
  border: 1px solid skyblue;
  box-shadow: 0px 0px 4px 2px skyblue;
  transition: ease-in-out 0.3s;
}
.light #navBtn:hover{
  color: white;
  transition: ease-in-out 0.3s; 
  background-color: black;
  box-shadow: none;
}


/* Rotation Animation */
@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* **************Dark Mode************** */
.darkModeBtn{
  margin-right: 25px;
  padding: 1px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px orange;
  border: 1px solid orange;
  transition: ease-in-out 0.6s;
}
.darkModeBtn:hover{
  box-shadow: none;
  border: none;
  filter: none;
  color: black;
  background: white;
  transition: 0.6s;
}

.darkModeBtn:active{
  /* This animation line applies the rotation animation. */
  animation: logo alternate 0.1s linear;
}

/* **************Light Mode************** */
.lightModeBtn{
  margin-right: 25px;
  padding: 1px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  transition: 2s;
}
.lightModeBtn:hover{
  box-shadow: none;
  filter: none;
}
.lightModeBtn:active{
  /* This animation line applies the rotation animation. */
  animation: logo alternate 0.1s linear;
}

/* Contact Button Design */
.contactBtn{
  background-color: transparent;
  border: 1px solid orange;
  box-shadow: 0px 0px 5px 2px orange;
  transition: 0.5s;
}
.light .contactBtn{
  color: #000000;
  background: transparent;
  border: 1px solid skyblue;
  box-shadow: 0px 0px 4px 2px  skyblue;
  transition: 0.5s;
}

.contactBtn:hover{
  filter: none;
  transform: scale(1.2);
  background-color: orange;
  box-shadow: 0px 0px 4px 1px orange;
  color: #000000;
  transition: 0.5s;
}

.light .contactBtn:hover{
  transform: scale(1.2);
  background-color: skyblue;
  box-shadow: 0px 0px 4px  black;
  transition: ease-in-out 0.5s;
}

/* #navBtn:focus,
#navBtn:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}  */


.hamburgerMenu{
  display: none
}

/* responsive css style  */
@media (max-width: 1080px) {
  .menuLinks {
    height: 5rem;
    grid-template-columns: 2rem 2fr 3fr 1fr 2rem;
  }

  .logo,
  .menuLinks ul,
  .navButtons ul {
    height: 5rem;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .navBar {
    height: 4.375rem;
    grid-template-columns: 1rem 2fr 4fr 2fr 1rem;
  }

  .menuLinks {
    display: none;
  }

  .logo,
  .navButtons ul {
    height: 4.375rem;
  }

  .mobileMenuLinks {
    display: grid;
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobileMenuLinks {
    background-color: white;
    height: 20rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobileMenuLinks ul {
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .mobileMenuLinks ul li:first-child {
    transition-delay: 0.2s;
  }

  .navButtons {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .navBtnDesktop {
    height: 0;
    display: none;
  }

  .navButtons {
    height: 4.375rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .hamburgerMenu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 798px) {
  .navBar {
    height: 3.75rem;
    grid-template-columns: 1rem 2fr 2fr 1fr 1rem;
  }

  .logo,
  .navButtons ul {
    height: 3.75rem;
  }

  .mobileContactBtn{
    display: none;
  }

  .navButtons {
    height: 3.75rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .navButtons .hamburgerMenu {
    display: block;
    font-size: 2.5rem;
  }

}

@media (max-width: 520px) {
  .menuLinks {
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .navButtons ul {
    height: 3.75rem;
  }

  /* .logo h2 {
    font-size: 2rem;
  } */

  .mobileMenuLinks {
    /* transition: 0.5s; */
    grid-column: 2/5;
  }

  .navButtons {
    height: 3.5rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .navButtons .hamburgerMenu {
    display: block;
    font-size: 2.5rem;
  }
}