:root {
  margin: 0;
  color-scheme: light dark;
  background-color: black;
}

.nav{

}

/* Container Class is for all the react components */
.container{
  display: inline-block;
  width: 100%;
  padding: 50px 40px 30px 40px;
  height: 100%;
  position: relative;
  background-image: url('./assets/dark_background.png');
  transition: 0.5s;
  scroll-behavior: smooth;
}

.container.light{
  background: white;
  background-image: url('./assets/light_background.png');
}

/* Proving backrgound look for dark theme in Home */
.home{
  position: relative;
  background-image: url('./assets/stars_bg.jpg');
  background-size: contain;
}
/* Proving backrgound look for light theme in Home */
.home.light{ 
  background-image: url('./assets/light_background.png');
  background-size: contain;
}

/* this class is used to arrange indentation between components mentioned in App.jsx */
.components{
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
}

/* Design for all anchor tags of the app in light and Dark mode*/
a{
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.light a{
  color: black;  
}
a:hover {
  color: orange;
}
.light a:hover {
  color: skyblue;
}

/* style of all buttons of the app */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em; 
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: wheat;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 2px orange;
  cursor: pointer;
  will-change: filter;
  transition: border-color,filter,transform 200ms ease 0s;
}
.light button{
  background: transparent;
}
button:hover {
  border-color: orange;
  filter: drop-shadow(0 0 8px orange);
  transform: scale(1.3);
}

/* for the title of each components of react */
.secTitle{
  width: fit-content;
  font-size: 40px;
  margin: 10px 10px 40px 10px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 3px 3px 5px 2px orange;
}
.light .secTitle{
  color: black;
  box-shadow: 3px 3px 8px 8px skyblue;
}

/* Spanning half part of title */
#spanTitle{
  color: orange;
}
.light #spanTitle{
  color: skyblue;
}


/* Style of all components */
.componentStyle{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px;
  padding: 10px;
}